:root {
  --base: #3554ff;
  --spacing: 10px;
  --blur: 2px;
}


body {
  text-align: center;
  background-image: linear-gradient(to bottom, blue, red);
}

.controls {
  margin-top: 50px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

span {
  color: var(--base);
}